body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
}

h1 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 15px;
}

a {
	display: block;
	width: 200px;
	padding: 10px;
	margin: 0 auto;
	border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-top: 15px;
	color: black;
	background: #FFB700;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: black;
	box-shadow: 0px 0px 15px rgba(0,0,0,.15) inset;
	background: #FFAA00;
}

p {
	display: block;
	width: 80%;
	margin: 0 auto;
	margin-top: 10px;
}

.works{
	margin-top: 30px;
}

.item {
	padding-top: 15px;
	padding-bottom: 20px;
	border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 15px rgba(0,0,0,.15);
}

.item_title {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.picture {
	width: 100%;
	margin-top: 20px;
	padding-left: 5%;
	padding-right: 5%; 
}

