body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
}

div {
	box-sizing: border-box;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

header {
	background: url(../img/mywork_3_first-bg.jpg) no-repeat center top / cover;
	padding-bottom: 160px;
	
}

.wrapper {
	width: 930px;
	margin: 0 auto;
}

.logo {
	margin-top: 41px;
	float: left;
}

nav {
	float: right;
	margin-top: 45px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;
}

.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.titles_first {
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 185px;
}

h1 {
	font-size: 75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 30px 0;
}

.botton {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 40px;
}

.title {
	text-align: center;
}

.title h2 {
	font-weight: bold;
	font-size: 40px;
	color: #222222;
	padding-top: 80px;
	margin-bottom: 0;
	text-transform: uppercase;
}

.title p {
	color: #777777;
	font-size: 16px;
	margin-top: 10px;
}

.services {
	margin: 0;
	margin-top: 70px;
	
}

.services_item {
	width: 270px;
	float: left;
	text-align: center;
	padding-bottom: 100px;
}

.services_item h3 {
	color: #222222;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 12px;
}

.services_item p {
	font-size: 14px;
	color: #777777;
	margin: 0;
	line-height: 1.5em;
}

.services_item:last-child {
	float: right;
}

.services_item:nth-child(2) {
	margin-left: 60px;
}

#portfolio {
	background-color: #f7f7f7;
}

.photo {
	margin-top: 80px;
	padding-bottom: 100px;
}

.second .image {
	display: inline-block;
	margin-left: 374px;
}

.second .text {
	width: 300px;
	display: block;
	float: right;
	margin-right: 25px;
}

.first .image {
	display: inline-block;
	padding-left: 50px;

}

.first .text {
	width: 300px;
	display: block;
	float: left;
	margin-left: 25px;
	text-align: right;
}

.text span {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	color: #222222;
	margin: 0;
}

.text h3 {
	font-size: 18px;
	color: #222222;
	margin-top: 5px;
}

.text p {
	font-size: 14px;
	color: #777777;
	line-height: 1.6em;
	margin-top: -7px;
}

.second, .first {
	margin-top: 90px;
}

footer p {
	font-size: 14px;
	text-align: center;
	color: #777777;
	padding: 80px;
}
